<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<!-- database/type Possible values: MYSQL -->

 <!-- MySql  -->
	<database>
		<type>MYSQL</type> 
		<serverAddress>localhost</serverAddress>
		<port>3306</port> 
		<user>root</user>
		<password>root</password>
		<schema>karitasz</schema>
	</database>

	<logger>
		<logFileName>karitasz.alert</logFileName>
	</logger>
  	
  	<contextParam>
  		<paramName>PASSWORD_SALT</paramName>
  		<paramValue>9145c3e1-8bfb-42db-843c-3b4946353454</paramValue>
  	</contextParam>
  
   	<contextParam>
  		<paramName>MIN_PASSWORD_LENGTH</paramName>
  		<paramValue>5</paramValue><!-- 4-20 közötti egész számot kezel a rendszer -->
  	</contextParam>
  	
  	<contextParam>
  		<paramName>FORBIDDEN_PASSWORDS</paramName>
  		<paramValue>01234;0123456;1234;12345;123456;1234567;12345678;123456789;654321;123123;password;password123;jelszo;jelszo123;qwertz;password;asdfgh;111111;000000;aaaaaa;asdasd;valami;szerelem;love;666666;almafa;cica;lofasz;nincs;titok;budapest;csillag;cicamica;nemtom;nemtudom;szeretet;tigris;killer;qwe123;qwerty;asdfghj;blabla;nyuszi;abc123;fradi;dragon;pussy;baseball;football;696969;monkey;superman;fuckme;fuckyou;test;pass;sunshine;</paramValue>
  	</contextParam>
  	
  	<contextParam>
  		<paramName>THE_NUMBER_OF_ENTRY_ATTEMPTS</paramName>
  		<paramValue>5</paramValue>
  	</contextParam>
  	
  	<contextParam>
  		<paramName>VALID_PHONE_NUMBER_REGEXP</paramName>
  		<paramValue>/^((1|20|30|31|70)\d{7}|(?!(1|20|30|31|70))\d{2}\d{6})$/</paramValue>
  	</contextParam>
  	
  	<contextParam>
  		<paramName>VALID_PHONE_NUMBER_REGEXP_JS</paramName>
  		<paramValue>^((1|20|30|31|70)[0-9]{7}|(?!(1|20|30|31|70))[0-9]{2}[0-9]{6})$</paramValue>
  	</contextParam>
  	
  	<contextParam>
  		<paramName>DEFAULT_RESULT_SIZE</paramName>
  		<paramValue>200</paramValue>
  	</contextParam>
  	
  	<contextParam>
  		<paramName>OPERATON_MAX_REPEAT_MONTH</paramName>
  		<paramValue>24</paramValue>
  	</contextParam>
  	
  	<contextParam>
  		<paramName>OPERATION_ATTACHMENT_MAX_SIZE_IN_BYTE</paramName>
  		<paramValue>1048576</paramValue><!-- Ez elvben egy mega -->
  	</contextParam>

</configuration>